/* 1. додайте клас до h1 і зробіть весь текст для класу заглавними літерами (text-transform: uppercase) */
.txtt{
    text-transform: uppercase;
}
/* 2. придумайте назву класа для списку цілей і встановіть колір шрифту червоним у шістнадцятковому форматі */
.itemc{
    color: #f00;
}
/* 3. пунктам списку цілей за класом дайте колір заднього фону yellow і нахилений шрифт (font-style: italic)*/
.list__item{
    background-color: yellow;
    font-style: italic;
}
/* 4. для усіх впорядкованих списків задайте рамку 1px solid red */
ol{
    border: 1px solid red;
}
/* 5. задайте id (ідентифікатор) для заголовку першого рівня і встановіть на нього колір шрифта green */
.txtt{
color: green;
}
/* 6. для всіх посилань на PDF-документи встановити стиль: колір зелений і font-style: italic */
.grp{
    color: green;
    font-style: italic;
}
/* 7. для всіх посилань втсановити колір шрифта violet та заберыть підкреслення (text-decoration: none).
   Питання: чому PDF-файли вже не підкреслені але все ж лишились зелені? */
.lv{
    color: violet;
    text-decoration: none;
}

.grp{
    text-decoration: none;
}
/* 8. Встановіть всі заглавні літери (text-transform: uppercase) для усіх вкладнених списків другого рівня*/
h2{
    text-transform: uppercase;
}
/* 9. для всіх посилань що знаходяться всередині абзаців встановити колір шрифта magenta і задній фон кольору mistyrose */
.mag{
    color: magenta;
    background-color: mistyrose;
}
/* 10. створити клас bold який буде будь-який текст перетворювати на жирний і застосувати його: 1) до двох останіх   пунктів цілей 2) до першого довгого абзацу (той що під основним заголовком).
  Питання: чому у нас одночасно і bold i italic?
*/
/* Відповідь: тому що коли прописували на список бекграунд в 3 пункті треба було задавати font-style: italic. */
.bold{
    font-weight: bold;
}
/* 11. для всіх тегів li з класом bold встановити всі заглавні літери */
.bold{
    text-transform: capitalize;
}
/* 12. другий довгий абзац і передостанній "Написати нам листа" вирійвняйте по правому краю, додайте синю рамку навколо та встановіть розмір шрифта 20px */
.border{
    text-align: right;
    border: 2px solid blue;
    font-size: 20px;
}
/* 13. на тег h1 встановіть колір шрифта червоний. Чому він не спрацює і що можна зробити щоб він спрацював?*/
/* Відповідь: прийдеться зняти колір green який ми задавали в 5 пункті. */
/* 14. для всіх можливих селекторів встановіть властивість box-sizing: border-box (у DevTools перегляньте які CSS властивості у елементів активні і визначте чи успішно виконано завдання) */
*{
    box-sizing: border-box;
}
/* 15. зробіть так, щоб задній фон цілей був не на всю ширину сторінки бо це блочці елементи, а лише по довжині кожного з елементів (відповідь: огорнути текст у рядкові span-и застосувати background до них) */

